{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Tivo is a HTML landing page template built with Bootstrap to help you crate engaging presentations for SaaS apps and convert visitors into users.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>SOFMIS</title>
    
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/swiper.css' %}">
	<link rel="shortcut icon" href="/personas/templates/persona/images/favicon.png" type="image/x-icon">
	<!-- Favicon  -->
</head>
<body data-spy="scroll" data-target=".fixed-top">
    
    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">

            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Tivo</a> -->

            <!-- Image Logo -->
            <a href="index.php"><img class="logo" src="{% static 'images/logo.png' %}" alt="alternative"></a> 
            
            <!-- Mobile Menu Toggle Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-awesome fas fa-bars"></span>
                <span class="navbar-toggler-awesome fas fa-times"></span>
            </button>
            <!-- end of mobile menu toggle button -->

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#header">INCIO <span class="sr-only">(actual)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#features">NOSOTROS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#details">DETALLES</a>
                    </li>

                    <!-- Dropdown Menu 
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle page-scroll" href="#video" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">VIDEO</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="article-details.html"><span class="item-text">ARTICLE DETAILS</span></a>
                            <div class="dropdown-items-divide-hr"></div>
                            <a class="dropdown-item" href="terms-conditions.html"><span class="item-text">TERMS CONDITIONS</span></a>
                            <div class="dropdown-items-divide-hr"></div>
                            <a class="dropdown-item" href="privacy-policy.html"><span class="item-text">PRIVACY POLICY</span></a>
                        </div>
                    </li>
                    -->          
                    
                    <!-- end of dropdown menu -->

                </ul>
                <span class="nav-item">
                    <a class="btn-outline-sm" href="{% url 'pagina_inicio' %}">INGRESAR</a>
                </span>
            </div>
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->

<!--  -->
    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content"> <!-- AQUI ESTA EL COLOR DEL FONDO #141212-->
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-5">
                        <div class="text-container">
                            <h1> <span class="anima-span"> SOFMIS </span> </h1>
                            <p class="p-large">Organiza, rastrea y potencia tu éxito con una gestión eficiente y sin complicaciones.</p>
                            <a class="btn-solid-lg page-scroll" href="{% url 'sign_up' %}">Registrate</a>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                    <div class="col-lg-6 col-xl-7">
                        <div class="image-container">
                            <div class="img-wrapper">
                                <img class="img-fluid" src="{% static 'images/illustration-1.png' %}" alt="alternative">
                            </div> <!-- end of img-wrapper -->
                        </div> <!-- end of image-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <svg class="header-frame" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 310"><defs><style>.cls-1{fill:#141212;}</style></defs><title>header-frame</title><path class="cls-1" d="M0,283.054c22.75,12.98,53.1,15.2,70.635,14.808,92.115-2.077,238.3-79.9,354.895-79.938,59.97-.019,106.17,18.059,141.58,34,47.778,21.511,47.778,21.511,90,38.938,28.418,11.731,85.344,26.169,152.992,17.971,68.127-8.255,115.933-34.963,166.492-67.393,37.467-24.032,148.6-112.008,171.753-127.963,27.951-19.26,87.771-81.155,180.71-89.341,72.016-6.343,105.479,12.388,157.434,35.467,69.73,30.976,168.93,92.28,256.514,89.405,100.992-3.315,140.276-41.7,177-64.9V0.24H0V283.054Z"/></svg>
    <!-- end of header -->


    <!-- Customers -->
    <div class="slider-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider-1 -->
    <!-- end of customers -->


    <!-- Description -->
    <div class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="above-heading">DESCRIPCIÓN DE NUESTRA PLATAFORMA</div>
                    <h2 class="h2-heading">Automatización de la Gestion de las ventas</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    <!-- Tarjeta -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-1" src="{% static 'images/description-1.png' %}" alt="alternativa">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Gestión de Inventario</h4>
                            <p>Controla fácilmente los niveles de tu inventario con nuestro intuitivo sistema de gestión. Mantente organizado y nunca te quedes sin productos nuevamente.</p>
                        </div>
                    </div>
                    <!-- fin de tarjeta -->

                    <!-- Tarjeta -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-1" src="{% static 'images/description-2.png' %}" alt="alternativa">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Control del Stock</h4>
                            <p>Realiza un seguimiento de tus productos, con alertas y reportes diarios. Nuestra función de seguimiento de stock garantiza transparencia y satisfacción del cliente.</p>
                        </div>
                    </div>
                    <!-- fin de tarjeta -->

                    <!-- Tarjeta -->
                    <div class="card">
                        <div class="card-image">
                            <img class="img-1" src="{% static 'images/description-3.png' %}" alt="alternativa">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Permisos de Usuario</h4>
                            <p>Personaliza los niveles de acceso con nuestra función de permisos de usuario. Define roles y responsabilidades para mejorar la seguridad y optimizar las operaciones.</p>
                        </div>
                    </div>
<!-- fin de tarjeta -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of description -->


    <!-- Features -->
    <div id="features" class="tabs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="above-heading">MÓDULOS DESTACADOS</div>
                    <h2 class="h2-heading">Gestión Integral con Sofmis</h2>
                    <p class="p-heading">Lleva tu estrategia empresarial al siguiente nivel y automatiza las tareas de gestión de inventario, registro de ventas y compras con proveedores en Sofmis. Simplifica tus operaciones y obtén resultados en tiempo récord.</p>
                </div> <!-- fin de la columna -->                
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">

                    <!-- Tabs Links -->
                    <ul class="nav nav-tabs" id="argoTabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true"><i class="fas fa-list"></i>Inventario</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false"><i class="fas fa-envelope-open-text"></i>Ventas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false"><i class="fas fa-chart-bar"></i>Compras</a>
                        </li>
                    </ul>
                    <!-- end of tabs links -->

                    <!-- Tabs Content -->
                    <div class="tab-content" id="argoTabsContent">

                        <!-- Tab -->
                        <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="image-container">
                                        <img class="img-1" src="{% static 'images\inventario_form.png' %}" alt="alternativa">
                                    </div> <!-- fin del contenedor de imágenes -->
                                </div> <!-- fin de la columna -->
                                <div class="col-lg-6">
                                    <div class="text-container">
                                        <h3>Gestión de Inventario de Software con Sofmis</h3>
                                        <p>Descubre la simplicidad de la gestión de inventario de software con Sofmis. Solo necesitas completar y enviar el <a class="blue page-scroll" href="sign-up.php">formulario de registro</a>, y en menos de 24 horas tendrás acceso a la aplicación y todas sus funciones.</p>
                                        <ul class="list-unstyled li-space-lg">
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Crea y embebe formularios de registro en boletines en tus sitios web</div>
                                            </li>
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Administra formularios y páginas de destino para tus servicios</div>
                                            </li>
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Añade y elimina productos utilizando el panel de control</div>
                                            </li>
                                        </ul>
                                    </div> <!-- fin del contenedor de texto -->
                                </div> <!-- fin de la columna -->
                            </div> <!-- fin de la fila -->
                        </div> <!-- fin de la pestaña -->

                        <!-- Tab -->
                        <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="image-container">
                                        <img class="img-1" src="{% static 'images\ventas_form.png' %}" alt="alternativa">
                                    </div> <!-- fin del contenedor de imágenes -->
                                </div> <!-- fin de la columna -->
                                <div class="col-lg-6">
                                    <div class="text-container">
                                        <h3>Registro de Ventas con Sofmis</h3>
                                        <p>Facilitamos el proceso de registro de ventas en Sofmis, brindándote un control total sobre tus transacciones. Descubre cómo nuestra plataforma simplifica la gestión de ventas para potenciar el rendimiento de tu negocio.</p>
                                        <ul class="list-unstyled li-space-lg">
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Registra fácilmente tus ventas y realiza un seguimiento detallado</div>
                                            </li>
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Accede a información valiosa sobre el rendimiento de tus ventas</div>
                                            </li>
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Optimiza tu estrategia de ventas con datos precisos</div>
                                            </li>
                                        </ul>
                                    </div> <!-- fin del contenedor de texto -->
                                </div> <!-- fin de la columna -->
                            </div> <!-- fin de la fila -->
                        </div> <!-- fin de la pestaña -->
                        <!-- fin de la pestaña -->
                        

                        <!-- Tab -->
                        <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="image-container">
                                        <img class="img-1" src="{% static 'images\dash_form.png' %}" alt="alternativa">
                                    </div> <!-- fin del contenedor de imágenes -->
                                </div> <!-- fin de la columna -->
                                <div class="col-lg-6">
                                    <div class="text-container">
                                        <h3>Registro de Compras con Proveedores en Sofmis</h3>
                                        <p>Facilitamos el proceso de registrar compras realizadas con proveedores en Sofmis, brindándote un control total sobre tus transacciones comerciales. Descubre cómo nuestra plataforma simplifica la gestión de compras para optimizar tus operaciones.</p>
                                        <ul class="list-unstyled li-space-lg">
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Registra fácilmente tus compras y realiza un seguimiento detallado</div>
                                            </li>
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Accede a información valiosa sobre tus transacciones con proveedores</div>
                                            </li>
                                            <li class="media">
                                                <i class="fas fa-square"></i>
                                                <div class="media-body">Optimiza tu relación con proveedores y mejora la eficiencia operativa</div>
                                            </li>
                                        </ul>
                                    </div> <!-- fin del contenedor de texto -->
                                </div> <!-- fin de la columna -->
                            </div> <!-- fin de la fila -->
                        </div> <!-- fin de la pestaña -->
                        <!-- fin de la pestaña -->
                        
                        
                    </div> <!-- end of tab content -->
                    <!-- end of tabs content -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of tabs -->
    <!-- end of features -->


    <!-- Details -->
    <div id="details" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h2>Es el Momento de Mejorar tu Solución de Gestión Empresarial con Sofmis</h2>
                        <p>Optimiza la gestión de tu empresa con Sofmis. Registra compras, ventas y colabora con proveedores de manera eficiente. Accede a informes detallados y visualiza datos clave en el panel de control integrado para tomar decisiones informadas.</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Registra compras y ventas con proveedores de forma sencilla</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Visualiza informes detallados directamente en el panel de control</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Optimiza tus operaciones con datos clave a tu alcance</div>
                            </li>
                        </ul>
                        <a class="btn-solid-reg page-scroll" href="sign-up.html">REGISTRATE</a>
                    </div> <!-- fin del contenedor de texto -->
                </div> <!-- fin de la columna -->
                
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-1" src="{% static 'images/indexss.png' %}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of details -->
    <!-- Newsletter -->
    <div class="form">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        <div class="above-heading">PREGUNTAS</div>
                        <h2>¿Tienes dudas? Nosotros nos contactaremos contigo</h2>
                    
                        <!-- Formulario de Boletín Informativo -->
                        <form id="newsletterForm" data-toggle="validator" data-focus="false">
                            <div class="form-group">
                                <input type="email" class="form-control-input" id="nemail" required>
                                <label class="label-control" for="nemail">Correo Electrónico</label>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group checkbox">
                                <input type="checkbox" id="nterms" value="Agreed-to-Terms" required>He leído y acepto la <a href="politica-de-privacidad.html">Política de Privacidad</a> y <a href="terminos-condiciones.html">Términos y Condiciones</a> de Sofmis.
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control-submit-button">ENVIAR</button>
                            </div>
                            <div class="form-message">
                                <div id="nmsgSubmit" class="h3 text-center hidden"></div>
                            </div>
                        </form>
                        <!-- fin del formulario de boletín informativo -->
                    </div>                    
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="icon-container">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-pinterest-p fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-linkedin-in fa-stack-1x"></i>
                            </a>
                        </span>
                    </div> <!-- end of col -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form -->
    <!-- end of newsletter -->


    <!-- Footer -->
    <svg class="footer-frame" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 79"><defs><style>.cls-2{fill:#5f4def;}</style></defs><title>footer-frame</title><path class="cls-2" d="M0,72.427C143,12.138,255.5,4.577,328.644,7.943c147.721,6.8,183.881,60.242,320.83,53.737,143-6.793,167.826-68.128,293-60.9,109.095,6.3,115.68,54.364,225.251,57.319,113.58,3.064,138.8-47.711,251.189-41.8,104.012,5.474,109.713,50.4,197.369,46.572,89.549-3.91,124.375-52.563,227.622-50.155A338.646,338.646,0,0,1,1920,23.467V79.75H0V72.427Z" transform="translate(0 -0.188)"/></svg>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-col first">
                    <h4>Sobre Sofmis</h4>
                    <p class="p-small">Nos apasiona diseñar y desarrollar una de las mejores aplicaciones de gestión empresarial en el mercado con Sofmis</p>
                </div>
            </div> <!-- end of col -->
            <div class="col-md-4">
                <div class="footer-col middle">
                    <h4>Enlaces Importantes</h4>
                    <ul class="list-unstyled li-space-lg p-small">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Nuestros socios comerciales <a class="white" href="#tu-enlace">csf.com</a></div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Lea nuestros <a class="white" href="terminos-condiciones.html">Términos y Condiciones</a>, <a class="white" href="politica-de-privacidad.html">Política de Privacidad</a></div>
                        </li>
                    </ul>
                </div>
            </div> <!-- end of col -->
            <div class="col-md-4">
                <div class="footer-col last">
                    <h4>Contacto</h4>
                    <ul class="list-unstyled li-space-lg p-small">
                        <li class="media">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="media-body">Colombia, Bogotá D.C.</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-envelope"></i>
                            <div class="media-body"><a class="white" href="mailto:contact@sofmis.com">contacto@sofmis.com</a> <i class="fas fa-globe"></i><a class="white" href="#tu-enlace">www.sofmis.com</a></div>
                        </li>
                    </ul>
                </div> 
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of footer -->  
<!-- end of footer -->

<!-- Derechos de Autor -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="p-small">SENA CSF © 2023 <a href="https://inovatik.com">GAES #3</a></p>
            </div> <!-- end of col -->
        </div> <!-- fin de la fila -->
    </div> <!-- end of container -->
</div> <!-- end of copyright --> 
<!-- end of copyright -->

    
    	
    <!-- Scripts -->
    <script src="{% static 'js/jquery.min.js' %}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{% static 'js/popper.min.js' %}"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="{% static 'js/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script> <!-- Magnific Popup for lightboxes -->
    <script src="{% static 'js/validator.min.js' %}"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="{% static 'js/scripts.j' %}s"></script> <!-- Custom scripts -->
</body>
</html>